#hero {
    display: flex;
    background-image: url("./background-images/background 3.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;  
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #EEEEEE;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

h1 {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}

#intro {
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 96px;
    color: #EEEEEE;
    padding-bottom: 96px;
}

.hello > h2 {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

p {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.my {
    display: flex;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #EEEEEE;
}

.para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #EEEEEE;
    height: 300px;
    width: 400px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 96px;
}

.get {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #EEEEEE;
}

button {
    border: none;
    background-color: #00ADB5;
    padding: 10px 20px;
}

.container {
    color: #EEEEEE;
}

.response {
    display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #171717;
}

.my {
    display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 60px;
}

.coding {
    display: flex; flex-direction: row; justify-content: center; align-items: center; column-gap: 50px; margin-bottom: 50px;
}

.video {
    display: flex; flex-direction: row; justify-content: center; align-items: center; column-gap: 50px;
}

.image {
    height: 300px;
    width: 500px;
    border-radius: 3%;
}

.twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 30%;
}

@media (max-width: 976px) {
    .coding {
        display: flex; flex-direction: column; justify-content: center; align-items: center;
    }

    .video {
        display: flex; flex-direction: column; justify-content: center; align-items: center;
    }
}

@media (max-width: 576px) {
    .coding {
        display: flex; flex-direction: column; justify-content: center; align-items: center; column-gap: 0px;
    }

    .video {
        display: flex; flex-direction: column; justify-content: center; align-items: center; column-gap: 0px;
    }

    p {
        font-family: "PT Serif", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
    }

    .image {
        height: 200px;
        width: 375px;
        border-radius: 3%;
    }

    .para {
        height: 250px;
        width: 350px;
    }
}
